<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="CONSOLE_LOG_PATTERN" value="%d %-5p %logger - %msg%n%xEx"/>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <logger name="io.micronaut.context" level="info"/>
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>