<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="CONSOLE_LOG_PATTERN" value="%d %-5p %logger [%X{x-request-id:000000000000}] - %msg%n%xEx"/>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <!--  set to debug to check for connection errors -->
  <logger name="org.eclipse.jetty.server.HttpConnection" level="info"/>
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>